
@import "../../../../app/base.scss";

$h2-color: #4b93b7;
$h3-color: #111;
$p-color: #777;

.features{

    font-size: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

    .feature{

        padding: 60px;

        @include media("phone"){

            padding: 30px;

        }

        h2{

            color: $h2-color;
            font-size: 30px;
            margin: 0;
            padding: 10px 0;

        }

        h3{

            color: $h3-color;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
            padding: 10px 0;

        }

        p{

            color: $p-color;
            font-weight: lighter;
            margin: 0;
            padding: 10px 0;

        }

        img{

            max-height: 300px;
            max-width: 300px;
            width: 100%;

        }

    }

    .feature-wrap{

        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        max-width: 1000px;

        @include media("phone"){

            display: block;

        }

    }

    .feature-copy{

        padding: 30px;

    }

    .feature-image{

        align-items: center;
        display: flex;
        justify-content: center;
        padding: 30px;
        text-align: center;

        @include media("phone"){

            padding-bottom: 0;

        }

    }

    .feature-odd{

        background: linear-gradient(to bottom, #eee, #fff);

        .feature-image{

            order: 2;

        }

        .feature-copy{

            order: 1;

        }

    }

    .feature-even{

        background: linear-gradient(to bottom, #eee, #fff);

    }

}
