
@import "../base.scss";

$background: #737677;
$color: #fff;
$font-size: 13px;
$link-color: #fff;

.footer{

    background: $background;
    border-bottom: 10px solid scale-color($color: $background, $lightness: -50%);
    color: $color;
    font-size: $font-size;
    padding: 30px;
    text-align: center;

    ul{

        list-style: none;
        margin: 0;
        padding: 15px 0;

        li{

            display: inline;
            line-height: 2em;
            padding: 0 10px;

        }

        a{

            padding: 10px;

        }

    }

    a{

        color: $link-color;
        text-decoration: none;

        &:focus,
        &:hover{

            color: $link-color;
            text-decoration: underline;

        }

    }

}
