
@import "../../app/base.scss";

$h2-color: #4b93b7;
$h3-color: #888;

.page{

    background: #f5f5f5;
    min-height: 100vh;

}

.content{

    margin: 0 auto;
    max-width: 800px;
    padding: 1px 0;
    position: relative;
    top: -50px;

}

.box{

    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    padding: 45px;

    h2{

        color: $h2-color;
        font-size: 30px;
        margin: 0;
        padding: 0 0 15px;

    }

    h3{

        color: $h3-color;
        font-size: 18px;
        font-weight: normal;
        margin: 10px 0 0;
        padding: 15px 0;

    }

    p{

        margin: 0;
        padding: 5px 0;

    }

}
