
.scroll-drawer{

    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: 98;

    :global(body.mounted) &{

        transition: transform .25s cubic-bezier(0, 0, .3, 1);

    }

    &.top{

        transition: none;

    }

    &.hidden{

        transform: translate3d(0, -100%, 0);

    }

}
