
@import "../../../../app/base.scss";

$color: #888;

.tech{

    background: #fff;

    ul{

        list-style: none;
        margin: 0;
        padding: 15px 30px;

    }

    li{

        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 80px;
        color: $color;
        display: inline-block;
        height: 120px;
        margin: 40px;
        padding-top: 100px;
        text-align: center;
        vertical-align: top;
        width: 80px;

    }

}
