
@import "./base/index.scss";

$body-background: #fff;
$nav-background: #cd0c21;
$footer-background: #737677;
$font-family: "Open Sans", "Helvetica", "Arial", san-serif;
$font-color: #71767a;
$font-size: 15px;
$nav-height: 80px;
