
@import "../../../../app/base.scss";

$background-color: #0d488a;
$background: linear-gradient(45deg, scale-color($color: $background-color, $lightness: 10%), $background-color);

.publications{

    align-items: center;
    background: $background;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;

    @include media("phone"){

        padding: 15px;

    }

    .publications-wrap{

        max-width: 1200px;

    }

    a{

        display: inline-block;
        margin: 5px;
        opacity: .9;
        padding: 10px 15px;
        transition:
            // This is ok because it's only a hover property on desktop
            // stylelint-disable-next-line plugin/no-low-performance-animation-properties
            .2s ease-in-out background-color,
            .2s ease-in-out opacity,
            .2s ease-in-out transform;

        &:focus,
        &:hover{

            background-color: scale-color($color: $background-color, $lightness: 40%);
            opacity: 1;
            transform: scale(1.1);

        }

    }

    // This is ok here because there is no risk of unintentional styling
    // stylelint-disable-next-line plugin/selector-tag-no-without-class
    span{

        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 30px;
        width: 120px;

        @include media("phone"){

            height: 20px;
            width: 80px;

        }

    }

}
