
html.drawer-open body{

    overflow: hidden;
    // Setting touch-action to none here gets rid of a warning message in chrome
    // caused by preventDefault being called on a passive event listener.
    touch-action: none;
    user-select: none;

}
